<div class="footer">
	<div class="footer left">
		<h2>Contact Us</h2>
		<strong>Organization</strong>
		<br>
		Office
		<br>
		Street
		<br>
		City, ST 00000
		<hr>
		<strong>Phone</strong>: (000) 000-0000
		<hr>
		<strong>Fax</strong>: (000) 000-0000
		<hr>	
		<strong>Email</strong>: email@domain.xxx
	</div>
	<div class="footer right">
		<h3>Mission</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non turpis et ante tempus suscipit eget a felis. Aliquam vel felis laoreet, ornare ante ac, sagittis leo. Ut hendrerit sed felis eu luctus. Mauris venenatis, lorem vel rhoncus suscipit, eros erat molestie neque, euismod sagittis massa urna a diam. Maecenas purus urna, bibendum quis rutrum vel, aliquet eu mauris. Nullam rutrum commodo velit. Ut interdum, nulla a fringilla tincidunt, nunc nulla tincidunt enim, eu pharetra ligula velit vitae nunc. Quisque non ipsum arcu. Aliquam at sagittis felis.
		</p>
		<h3>Vision</h3>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non turpis et ante tempus suscipit eget a felis. Aliquam vel felis laoreet, ornare ante ac, sagittis leo. Ut hendrerit sed felis eu luctus.
		</p>
	</div>
</div>
<div class="footer-bottom">
		<a href="https://twitter.com/utsa_oir" class="fa fa-twitter"></a>
</div>