<div id="banner">
	<a href="index.html"><h1>WI</h1></a>
</div>
<div id="navbar">

	<!-- sandwich button -->
	<button id="openNav" onclick="sBopen()">&#9776;</button>
	
	<!-- close sidebar button -->
	<button id="closeNav" onclick="sBclose()">&times;</button>
	
	<!-- sidebar block (should be hidden unless screen size < 600px) -->
	<!-- <div id="sidebar"> -->

	<!-- navigation items -->
	<ul id="navlist">
		<li class="navItem"><a href="index.html">Home</a></li>
		<li class="navItem dropdown">
			<a>About Us <i class="fa fa-caret-down"></i></a>
			<div class="dropdown-content">
				<a href="mission_g_o.html">Mission, Goals & Objectives</a>
				<a href="staff.html">Staff</a>
			</div>
		</li>
		<li class="navItem"><a href="publications.html">Publications</a></li>    
		<li class="navItem"><a href="interactives.html">Interactives</a></li>
		<li class="navItem"><a href="reports_surveys.html">Reports & Surveys</a></li>
		<li class="navItem dropdown">
			<a>Data <i class="fa fa-caret-down"></i></a>
			<div class="dropdown-content">
				<a href="cds.html">Common Data Sheet</a>
				<a href="vsa.html">College Portrait(vsa)</a>
				<a href="data_warehouse.html">Data Warehouse</a>
				<a href="data_request_form.html">Data Request Form</a>
			</div>
		</li>
	</ul>
	
	<input type="text" id="navSearch" name="Search" placeholder="Search">
</div>
